<% videos.forEach(video => { %>
    <a href="/watch?v=<%= video._id %>" class="video">
        <div class="preview">
            <img src="/api/preview/<%= video._id %>" alt="">
            <div class="video-duration"><%= formatTime(video.duration) %></div>
        </div>
        <div class="metadata">
            <h1 class="title"><%= video.title %></h1>
            <div class="meta-row">
                <h1><%= video.views %></h1>
                <h1>Views</h1>
                <h1>•</h1>
                <h1><%- timeAgo(video.createdAt) %></h1>
            </div>
        </div>
    </a>
<% }); %>