<div class="guide" hidden>
    <div class="guide-wrapper">
        <div class="buttons-container">
            <a href="/">
                <div class="icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" viewBox="0 0 24 24" width="24"
                        focusable="false" aria-hidden="true">
                        <path clip-rule="evenodd"
                            d="M22.146 11.146a.5.5 0 01-.353.854H20v7.5a1.5 1.5 0 01-1.5 1.5h-5v-7h-3v7h-5A1.5 1.5 0 014 19.5V12H2.207a.5.5 0 01-.353-.854L12 1l10.146 10.146ZM18.5 9.621l-6.5-6.5-6.5 6.5V19.5H9V13a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v6.5h3.5V9.621Z"
                            fill-rule="evenodd"></path>
                    </svg>
                </div>
                <h1>Main</h1>
            </a>
            <a href="/subscriptions" <%= !user ? 'hidden' : '' %>>
                <div class="icon-wrapper">
                    <svg width="22px" height="22px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                        focusable="false" aria-hidden="true">
                        <path clip-rule="evenodd"
                            d="M4 4.5A1.5 1.5 0 015.5 3h13A1.5 1.5 0 0120 4.5H4Zm16.5 3h-17v11h17v-11ZM3.5 6A1.5 1.5 0 002 7.5v11A1.5 1.5 0 003.5 20h17a1.5 1.5 0 001.5-1.5v-11A1.5 1.5 0 0020.5 6h-17Zm7.257 4.454a.5.5 0 00-.757.43v4.233a.5.5 0 00.757.429L15 13l-4.243-2.546Z"
                            fill-rule="evenodd"></path>
                    </svg>
                </div>
                <h1>Subscriptions</h1>
            </a>
        </div>
        <div class="h-line"></div>


        <div class="buttons-container">
            <a href="/history" <%= !user ? 'hidden' : '' %>>
                <div class="icon-wrapper">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                        focusable="false" aria-hidden="true">
                        <path clip-rule="evenodd"
                            d="M 14.937091,2.4398089 C 12.617129,1.7277984 10.118503,1.8824673 7.905205,2.8758154 6.0999012,3.686494 4.5852591,5.0091803 3.541276,6.6665381 h 3.4586107 c 0.5519913,0 0.9999833,0.4480065 0.9999833,1.0000145 0,0.552008 -0.447992,1.000015 -0.9999833,1.000015 H 0 V 1.6664641 C 0,1.114456 0.4479927,0.66644929 0.9999838,0.66644929 c 0.5519911,0 0.9999838,0.44800671 0.9999838,1.00001481 V 5.3665189 C 3.2466141,3.4864911 5.0052523,1.9851355 7.086552,1.0517884 c 2.655957,-1.19201771 5.654575,-1.37735371 8.437197,-0.52267441 2.783955,0.85467931 5.159916,2.69337321 6.689225,5.17074311 1.527975,2.4773705 2.103966,5.4267479 1.619973,8.2974569 -0.485325,2.870709 -1.997301,5.466747 -4.253264,7.306774 -2.257297,1.838694 -5.106584,2.793375 -8.01587,2.68804 C 8.654527,23.88546 5.8839047,22.726776 3.7652724,20.729413 1.6479733,18.730717 0.3279947,16.03201 0.0533325,13.133301 c -0.051999,-0.549342 0.3519943,-1.037349 0.9013187,-1.08935 0.5493244,-0.05333 1.0373165,0.350672 1.090649,0.900014 0.2279963,2.416035 1.3279785,4.665402 3.0932833,6.33076 1.7639714,1.664025 4.0732675,2.630706 6.4985615,2.72004 2.423961,0.08667 4.797256,-0.709343 6.679892,-2.241366 1.879969,-1.533356 3.139949,-3.697388 3.542609,-6.089424 C 22.26364,11.27194 21.784981,8.8145696 20.510335,6.749206 19.237022,4.6851755 17.257054,3.1531528 14.937091,2.4411423 Z M 12.99979,5.9998616 c 0,-0.5520082 -0.447993,-1.0000148 -0.999984,-1.0000148 -0.551991,0 -0.999984,0.4480066 -0.999984,1.0000148 v 6.5147634 l 0.41866,0.298671 4.666591,3.333383 c 0.449326,0.321338 1.074649,0.217336 1.394644,-0.232004 0.321328,-0.44934 0.21733,-1.074682 -0.231996,-1.394687 L 12.99979,11.485276 Z"
                            fill-rule="evenodd" id="path1" style="stroke-width:1.33333" />
                    </svg>
                </div>
                <h1>History</h1>
            </a>
            <a href="/studio" <%= !user ? 'hidden' : '' %>>
                <div class="icon-wrapper">
                    <svg width="22px" height="22px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <style id="style1">
                                .a {
                                    fill: none;
                                    stroke: #000000;
                                    stroke-width: 3px;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                }
                            </style>
                        </defs>
                        <polyline class="a" points="13.005 5.5 16.673 11.129 13.005 16.757"
                            transform="matrix(1.263141,0,0,1.2631581,-6.3150686,-6.3157905)" />
                        <polyline class="a" points="22.551 5.5 26.22 11.129 22.551 16.757"
                            transform="matrix(1.263141,0,0,1.2631581,-6.3150686,-6.3157905)" />
                        <polyline class="a" points="32.097 5.5 35.766 11.129 32.097 16.757"
                            transform="matrix(1.263141,0,0,1.2631581,-6.3150686,-6.3157905)" />
                        <line class="a" x1="0.63157499" y1="14.851328" x2="47.367794" y2="14.851328" />
                        <path class="a"
                            d="m 30.968813,29.365773 -9.32476,-5.384086 a 1.6041891,1.6042108 0 0 0 -2.407041,1.389474 v 10.767792 a 1.6041891,1.6042108 0 0 0 2.407041,1.389473 l 9.32476,-5.384085 a 1.6041891,1.6042108 0 0 0 0,-2.778568 z" />
                        <path class="a"
                            d="M 44.842144,0.6315789 H 3.1584892 A 2.526282,2.5263162 0 0 0 0.63220706,3.157895 V 44.842111 A 2.526282,2.5263162 0 0 0 3.1584892,47.368427 H 44.842144 a 2.526282,2.5263162 0 0 0 2.526282,-2.526316 V 3.157895 A 2.526282,2.5263162 0 0 0 44.842144,0.6315789 Z" />
                    </svg>
                </div>
                <h1>Studio</h1>
            </a>
            <a href="/coming-soon" <%= !user ? 'hidden' : '' %>>
                <div class="icon-wrapper">
                    <svg width="24px" height="24px" viewBox="0 0 25 25" id='clock' fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                        <path
                            d="m 12.499995,5.9592998 v 6.5406942 l 4.360463,4.360463 m 7.26744,-4.360463 c 0,6.421946 -5.205958,11.627902 -11.627903,11.627902 -6.421916,0 -11.62790196,-5.205956 -11.62790196,-11.627902 0,-6.4219153 5.20598596,-11.62790096 11.62790196,-11.62790096 6.421945,0 11.627903,5.20598566 11.627903,11.62790096 z"
                            stroke="#121923" stroke-width="1.7442" />
                    </svg>
                </div>
                <h1>Watch later</h1>
            </a>
            <a href="/coming-soon" <%= !user ? 'hidden' : '' %>>
                <div class="icon-wrapper">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.66003 10.1022L11.76 4.00221C12.16 3.40221 13.16 3.00221 13.96 3.30221C14.86 3.60221 15.46 4.60221 15.26 5.50221L14.76 8.70221C14.66 9.40221 15.16 9.90221 15.76 9.90221H19.76C21.26 9.90221 22.1801 11.0522 21.66 12.5022C21.14 13.9522 20.6801 16.5522 19.26 18.8022C18.6102 19.8318 17.8975 20.5522 16.6801 20.5522C12.6801 20.5522 6.66003 20.5522 6.66003 20.5522"
                            stroke="#000" stroke-width="1.5" stroke-miterlimit="10" />
                        <path
                            d="M2.18005 10.5522C2.18005 9.99996 2.62777 9.55225 3.18005 9.55225H6.68005C7.23234 9.55225 7.68005 9.99996 7.68005 10.5522V20.5522H3.18005C2.62777 20.5522 2.18005 20.1045 2.18005 19.5522V10.5522Z"
                            stroke="#000" stroke-width="1.5" />
                    </svg>
                </div>
                <h1>Videos you liked</h1>
            </a>
        </div>
        <div class="h-line" <%= !user ? 'hidden' : '' %>></div>


        <h1 style="margin: 0 auto; margin-bottom: 10px;" <%= !user ? 'hidden' : '' %>>Subscriptions</h1>
        <div id="subscriptions-container" class="buttons-container" <%= !user ? 'hidden' : '' %>>
            <% channels.forEach(channel => { %>
                <a href="/channel/<%= channel.user.login %>">
                    <img src="/img/user.svg" alt="" width="40px">
                    <h1><%= channel.user.login %></h1>
                </a>
            <% }); %>
        </div>
        <div class="h-line" <%= !user ? 'hidden' : '' %>></div>


        <div class="buttons-container">
            <a href="/coming-soon">
                <div class="icon-wrapper">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.5 2L13.9961 1.93798C13.9649 1.68777 13.7522 1.5 13.5 1.5V2ZM10.5 2V1.5C10.2478 1.5 10.0351 1.68777 10.0039 1.93798L10.5 2ZM13.7747 4.19754L13.2786 4.25955C13.3047 4.46849 13.4589 4.63867 13.6642 4.68519L13.7747 4.19754ZM16.2617 5.22838L15.995 5.6513C16.1731 5.76362 16.4024 5.75233 16.5687 5.62306L16.2617 5.22838ZM18.0104 3.86826L18.364 3.51471C18.1857 3.3364 17.9025 3.31877 17.7034 3.47359L18.0104 3.86826ZM20.1317 5.98958L20.5264 6.29655C20.6812 6.09751 20.6636 5.81434 20.4853 5.63603L20.1317 5.98958ZM18.7716 7.73831L18.3769 7.43134C18.2477 7.59754 18.2364 7.82693 18.3487 8.00503L18.7716 7.73831ZM19.8025 10.2253L19.3148 10.3358C19.3613 10.5411 19.5315 10.6953 19.7404 10.7214L19.8025 10.2253ZM22 10.5H22.5C22.5 10.2478 22.3122 10.0351 22.062 10.0039L22 10.5ZM22 13.5L22.062 13.9961C22.3122 13.9649 22.5 13.7522 22.5 13.5H22ZM19.8025 13.7747L19.7404 13.2786C19.5315 13.3047 19.3613 13.4589 19.3148 13.6642L19.8025 13.7747ZM18.7716 16.2617L18.3487 15.995C18.2364 16.1731 18.2477 16.4025 18.3769 16.5687L18.7716 16.2617ZM20.1317 18.0104L20.4853 18.364C20.6636 18.1857 20.6812 17.9025 20.5264 17.7034L20.1317 18.0104ZM18.0104 20.1317L17.7034 20.5264C17.9025 20.6812 18.1857 20.6636 18.364 20.4853L18.0104 20.1317ZM16.2617 18.7716L16.5687 18.3769C16.4024 18.2477 16.1731 18.2364 15.995 18.3487L16.2617 18.7716ZM13.7747 19.8025L13.6642 19.3148C13.4589 19.3613 13.3047 19.5315 13.2786 19.7404L13.7747 19.8025ZM13.5 22V22.5C13.7522 22.5 13.9649 22.3122 13.9961 22.062L13.5 22ZM10.5 22L10.0039 22.062C10.0351 22.3122 10.2478 22.5 10.5 22.5V22ZM10.2253 19.8025L10.7214 19.7404C10.6953 19.5315 10.5411 19.3613 10.3358 19.3148L10.2253 19.8025ZM7.73832 18.7716L8.00504 18.3487C7.82694 18.2364 7.59756 18.2477 7.43135 18.3769L7.73832 18.7716ZM5.98959 20.1317L5.63604 20.4853C5.81435 20.6636 6.09752 20.6812 6.29656 20.5264L5.98959 20.1317ZM3.86827 18.0104L3.4736 17.7034C3.31878 17.9025 3.33641 18.1857 3.51472 18.364L3.86827 18.0104ZM5.22839 16.2617L5.62307 16.5687C5.75234 16.4025 5.76363 16.1731 5.65131 15.995L5.22839 16.2617ZM4.19754 13.7747L4.68519 13.6642C4.63867 13.4589 4.46849 13.3047 4.25955 13.2786L4.19754 13.7747ZM2 13.5H1.5C1.5 13.7522 1.68777 13.9649 1.93798 13.9961L2 13.5ZM2 10.5L1.93798 10.0039C1.68777 10.0351 1.5 10.2478 1.5 10.5H2ZM4.19754 10.2253L4.25955 10.7214C4.46849 10.6953 4.63867 10.5411 4.68519 10.3358L4.19754 10.2253ZM5.22839 7.73831L5.65131 8.00503C5.76363 7.82693 5.75234 7.59755 5.62307 7.43134L5.22839 7.73831ZM3.86827 5.98959L3.51472 5.63603C3.33641 5.81434 3.31878 6.09751 3.47359 6.29656L3.86827 5.98959ZM5.98959 3.86827L6.29656 3.47359C6.09752 3.31878 5.81434 3.33641 5.63604 3.51471L5.98959 3.86827ZM7.73832 5.22839L7.43135 5.62306C7.59755 5.75233 7.82694 5.76363 8.00504 5.6513L7.73832 5.22839ZM10.2253 4.19754L10.3358 4.68519C10.5411 4.63867 10.6953 4.46849 10.7214 4.25955L10.2253 4.19754ZM13.5 1.5H10.5V2.5H13.5V1.5ZM14.2708 4.13552L13.9961 1.93798L13.0039 2.06202L13.2786 4.25955L14.2708 4.13552ZM16.5284 4.80547C15.7279 4.30059 14.8369 3.92545 13.8851 3.70989L13.6642 4.68519C14.503 4.87517 15.2886 5.20583 15.995 5.6513L16.5284 4.80547ZM16.5687 5.62306L18.3174 4.26294L17.7034 3.47359L15.9547 4.83371L16.5687 5.62306ZM17.6569 4.22182L19.7782 6.34314L20.4853 5.63603L18.364 3.51471L17.6569 4.22182ZM19.7371 5.68261L18.3769 7.43134L19.1663 8.04528L20.5264 6.29655L19.7371 5.68261ZM20.2901 10.1149C20.0746 9.16313 19.6994 8.27213 19.1945 7.47158L18.3487 8.00503C18.7942 8.71138 19.1248 9.49695 19.3148 10.3358L20.2901 10.1149ZM22.062 10.0039L19.8645 9.72917L19.7404 10.7214L21.938 10.9961L22.062 10.0039ZM22.5 13.5V10.5H21.5V13.5H22.5ZM19.8645 14.2708L22.062 13.9961L21.938 13.0039L19.7404 13.2786L19.8645 14.2708ZM19.1945 16.5284C19.6994 15.7279 20.0746 14.8369 20.2901 13.8851L19.3148 13.6642C19.1248 14.503 18.7942 15.2886 18.3487 15.995L19.1945 16.5284ZM20.5264 17.7034L19.1663 15.9547L18.3769 16.5687L19.7371 18.3174L20.5264 17.7034ZM18.364 20.4853L20.4853 18.364L19.7782 17.6569L17.6569 19.7782L18.364 20.4853ZM15.9547 19.1663L17.7034 20.5264L18.3174 19.7371L16.5687 18.3769L15.9547 19.1663ZM13.8851 20.2901C14.8369 20.0746 15.7279 19.6994 16.5284 19.1945L15.995 18.3487C15.2886 18.7942 14.503 19.1248 13.6642 19.3148L13.8851 20.2901ZM13.9961 22.062L14.2708 19.8645L13.2786 19.7404L13.0039 21.938L13.9961 22.062ZM10.5 22.5H13.5V21.5H10.5V22.5ZM9.72917 19.8645L10.0039 22.062L10.9961 21.938L10.7214 19.7404L9.72917 19.8645ZM7.4716 19.1945C8.27214 19.6994 9.16314 20.0746 10.1149 20.2901L10.3358 19.3148C9.49696 19.1248 8.71139 18.7942 8.00504 18.3487L7.4716 19.1945ZM6.29656 20.5264L8.04529 19.1663L7.43135 18.3769L5.68262 19.7371L6.29656 20.5264ZM3.51472 18.364L5.63604 20.4853L6.34315 19.7782L4.22183 17.6569L3.51472 18.364ZM4.83372 15.9547L3.4736 17.7034L4.26295 18.3174L5.62307 16.5687L4.83372 15.9547ZM3.70989 13.8851C3.92545 14.8369 4.30059 15.7279 4.80547 16.5284L5.65131 15.995C5.20584 15.2886 4.87517 14.503 4.68519 13.6642L3.70989 13.8851ZM1.93798 13.9961L4.13552 14.2708L4.25955 13.2786L2.06202 13.0039L1.93798 13.9961ZM1.5 10.5V13.5H2.5V10.5H1.5ZM4.13552 9.72917L1.93798 10.0039L2.06202 10.9961L4.25955 10.7214L4.13552 9.72917ZM4.80547 7.47159C4.30059 8.27213 3.92545 9.16313 3.70989 10.1149L4.68519 10.3358C4.87517 9.49696 5.20583 8.71138 5.65131 8.00503L4.80547 7.47159ZM3.47359 6.29656L4.83371 8.04528L5.62307 7.43134L4.26295 5.68262L3.47359 6.29656ZM5.63604 3.51471L3.51472 5.63603L4.22182 6.34314L6.34314 4.22182L5.63604 3.51471ZM8.04529 4.83371L6.29656 3.47359L5.68262 4.26294L7.43135 5.62306L8.04529 4.83371ZM10.1149 3.70989C9.16313 3.92545 8.27214 4.30059 7.4716 4.80547L8.00504 5.6513C8.71139 5.20583 9.49696 4.87517 10.3358 4.68519L10.1149 3.70989ZM10.0039 1.93798L9.72917 4.13552L10.7214 4.25955L10.9961 2.06202L10.0039 1.93798Z"
                            fill="#000000" />
                        <circle cx="12" cy="12" r="4" stroke="#000000" stroke-linejoin="round" />
                    </svg>
                </div>
                <h1>Settings</h1>
            </a>
            <a href="/coming-soon">
                <div class="icon-wrapper">
                    <svg width="24px" height="24px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="about-white" fill="#000000" transform="translate(42.666667, 42.666667)">
                                <path
                                    d="M213.333333,3.55271368e-14 C95.51296,3.55271368e-14 3.55271368e-14,95.51168 3.55271368e-14,213.333333 C3.55271368e-14,331.153707 95.51296,426.666667 213.333333,426.666667 C331.154987,426.666667 426.666667,331.153707 426.666667,213.333333 C426.666667,95.51168 331.154987,3.55271368e-14 213.333333,3.55271368e-14 Z M213.333333,384 C119.227947,384 42.6666667,307.43872 42.6666667,213.333333 C42.6666667,119.227947 119.227947,42.6666667 213.333333,42.6666667 C307.44,42.6666667 384,119.227947 384,213.333333 C384,307.43872 307.44,384 213.333333,384 Z M240.04672,128 C240.04672,143.46752 228.785067,154.666667 213.55008,154.666667 C197.698773,154.666667 186.713387,143.46752 186.713387,127.704107 C186.713387,112.5536 197.99616,101.333333 213.55008,101.333333 C228.785067,101.333333 240.04672,112.5536 240.04672,128 Z M192.04672,192 L234.713387,192 L234.713387,320 L192.04672,320 L192.04672,192 Z"
                                    id="Shape">
                    
                                </path>
                            </g>
                        </g>
                    </svg>
                </div>
                <h1>About</h1>
            </a>
        </div>

    </div>
</div>