<% notifications.forEach(notification => {  %>
    <% if(notification.type === 'video') { %>
        <% const video = notification %>

        <div class="notification">
            <a href="/channel/<%= video.user.login %>">
                <img src="/api/avatar/<%= video.user._id %>" alt="" width="40px" class="avatar">
            </a>
            <a href="/watch?v=<%= video._id %>" class="metadata">
                <h1 class="title"><%= video.title %></h1>
                <h1 class="time"><%= timeAgo(video.createdAt) %></h1>
            </a>
            <a href="/watch?v=<%= video._id %>" class="preview">
                <img src="/api/preview/<%= video._id %>" alt="" width="200px">
            </a>
        </div>
    <% } else if(notification.type === 'comment') { %>
        <% const comment = notification %>
        
        <div class="notification">
            <a href="/channel/<%= comment.user.login %>">
                <img src="/api/avatar/<%= comment.user._id %>" alt="" width="40px" class="avatar">
            </a>
            <div class="metadata">
                <h1 class="comment-text"><%= comment.text %></h1>
                <h1 class="time"><%= timeAgo(comment.createdAt) %></h1>
            </div>
        </div>
    <% } %>
<% }); %>