<% videos.forEach(video=> { %>
    <div class="rec-video">
        <a href="/watch?v=<%= video._id %>" class="preview">
            <img src="/api/previews/<%= video._id %>" width="220px">
            <div class="time-rec-video"><%= formatTime(video.duration) %></div>
        </a>
        <a href="/watch?v=<%= video._id %>" class="rec-metadata">
            <h3><%= video.title %></h3>
            <div class="rec-bottom-metadata">
                <h4>Channel name</h4>
                <h4>Video views and date</h4>
            </div>
        </a>
        <div class="dropdown">
            <button class="rec-video-options">
                <div>
                    <svg width="22px" height="22px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.15 28.012v-0.85c0.019-0.069 0.050-0.131 0.063-0.2 0.275-1.788 1.762-3.2 3.506-3.319 1.95-0.137 3.6 0.975 4.137 2.787 0.069 0.238 0.119 0.488 0.181 0.731v0.85c-0.019 0.056-0.050 0.106-0.056 0.169-0.269 1.65-1.456 2.906-3.081 3.262-0.125 0.025-0.25 0.063-0.375 0.094h-0.85c-0.056-0.019-0.113-0.050-0.169-0.056-1.625-0.262-2.862-1.419-3.237-3.025-0.037-0.156-0.081-0.3-0.119-0.444zM20.038 3.988l-0 0.85c-0.019 0.069-0.050 0.131-0.056 0.2-0.281 1.8-1.775 3.206-3.538 3.319-1.944 0.125-3.588-1-4.119-2.819-0.069-0.231-0.119-0.469-0.175-0.7v-0.85c0.019-0.056 0.050-0.106 0.063-0.162 0.3-1.625 1.244-2.688 2.819-3.194 0.206-0.069 0.425-0.106 0.637-0.162h0.85c0.056 0.019 0.113 0.050 0.169 0.056 1.631 0.269 2.863 1.419 3.238 3.025 0.038 0.15 0.075 0.294 0.113 0.437zM20.037 15.575v0.85c-0.019 0.069-0.050 0.131-0.063 0.2-0.281 1.794-1.831 3.238-3.581 3.313-1.969 0.087-3.637-1.1-4.106-2.931-0.050-0.194-0.094-0.387-0.137-0.581v-0.85c0.019-0.069 0.050-0.131 0.063-0.2 0.275-1.794 1.831-3.238 3.581-3.319 1.969-0.094 3.637 1.1 4.106 2.931 0.050 0.2 0.094 0.394 0.137 0.588z"
                            fill="#000" />
                    </svg>
                </div>
            </button>
            <nav class="content" hidden>
                <button>
                    <div>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m 12.666918,0 v 16.392001 l 3.530664,-3.529334 0.943022,0.942667 -5.13927,5.138666 -5.1406042,-5.138666 0.9430221,-0.942667 3.5293301,3.526667 V 0 Z M 3.330066,24 H 20.669934 V 22.666667 H 3.330066 Z"
                                stroke-width="1.33358"></path>
                        </svg>
                    </div>
                    <div>Download</div>
                </button>
                <button>
                    <div>
                        <svg width="24px" height="24px" viewBox="0 0 25 25" id="clock" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m 12.499995,5.9592998 v 6.5406942 l 4.360463,4.360463 m 7.26744,-4.360463 c 0,6.421946 -5.205958,11.627902 -11.627903,11.627902 -6.421916,0 -11.62790196,-5.205956 -11.62790196,-11.627902 0,-6.4219153 5.20598596,-11.62790096 11.62790196,-11.62790096 6.421945,0 11.627903,5.20598566 11.627903,11.62790096 z"
                                stroke="#121923" stroke-width="1.7442"></path>
                        </svg>
                    </div>
                    <div>Watch later</div>
                </button>
                <button>
                    <div>
                        <svg fill="#000000" height="30px" width="30px" version="1.1" id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg" viewBox="-120 -100 700 700" xml:space="preserve">
                            <path d="M512,241.7L273.643,3.343v156.152c-71.41,3.744-138.015,33.337-188.958,84.28C30.075,298.384,0,370.991,0,448.222v60.436
l29.069-52.985c45.354-82.671,132.173-134.027,226.573-134.027c5.986,0,12.004,0.212,18.001,0.632v157.779L512,241.7z
M255.642,290.666c-84.543,0-163.661,36.792-217.939,98.885c26.634-114.177,129.256-199.483,251.429-199.483h15.489V78.131
l163.568,163.568L304.621,405.267V294.531l-13.585-1.683C279.347,291.401,267.439,290.666,255.642,290.666z" />
                        </svg>
                    </div>
                    <div>Share</div>
                </button>
                <button>
                    <div>
                        <svg fill="none" width="24px" height="24px" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M 4.2451699,19.749883 19.771394,4.2276749 M 12.008283,0.63106589 A 11.360652,11.357713 0 1 0 23.368934,11.988779 11.360652,11.357713 0 0 0 12.008283,0.63106589 Z"
                                style="fill:none;stroke:#000000;stroke-width:1.26214;stroke-linecap:round;stroke-linejoin:round" />
                        </svg>
                    </div>
                    <div>Not interest</div>
                </button>
                <button>
                    <div>
                        <svg fill="#000000" width="24px" height="24px" viewBox="-2 0 19 19"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M 17,1.8640303 V 14.10472 a 1.6172688,1.8707597 0 0 1 -1.611451,1.864029 H 9.3179728 l -1.483466,2.750624 a 0.39704531,0.45927822 0 0 1 -0.7315523,0 L 5.6194886,15.968749 H -0.38709434 A 1.6172688,1.8707597 0 0 1 -2,14.10472 V 1.8640303 A 1.6172688,1.8707597 0 0 1 -0.38854871,0 H 15.388549 A 1.6172688,1.8707597 0 0 1 17,1.8640303 Z M 8.526791,12.048903 A 1.0267912,1.1877305 0 1 0 7.4999999,13.234951 1.0267912,1.1877305 0 0 0 8.526791,12.048903 Z M 6.6942742,8.970225 a 0.80572565,0.93201513 0 1 0 1.6114512,0 V 3.5278623 a 0.80572565,0.93201513 0 1 0 -1.6114512,0 z" />
                        </svg>
                    </div>
                    <div>Complain</div>
                </button>
            </nav>
        </div>
    </div>
    <% }); %>

<% function formatTime(seconds) {
    const minutes = Math.floor(seconds / 60);
    const secs = Math.floor(seconds % 60);
    return `${minutes}:${secs.toString().padStart(2, '0')}`;
} %>