<% videos.forEach(video=> { %>
    <div class="video">
        <a href="/watch?v=<%= video._id %>" class="preview">
            <img src="/api/preview/<%= video._id %>" width="100%">
            <div class="video-duration"><%= formatTime(video.duration) %></div>
        </a>
        <div class="metadata-wrapper">
            <a href="/channel/<%= video.user.login %>" class="avatar">
                <img src="/api/avatar/<%= video.user._id %>" alt="" width="40px">
            </a>
            <a href="/watch?v=<%= video._id %>" class="metadata">
                <div class="title"><%= video.title %></div>
                <div class="metadata-bottom">
                    <div class="channel-name"><%= video.user.login %></div>
                    <div class="views-date">
                        <div class="views"><%= video.views %> views</div>
                        <div class="point">•</div>
                        <div class="date"><%= timeAgo(video.createdAt) %></div>
                    </div>
                </div>
            </a>
            <div class="dropdown">
                <button class="video-options">
                    <div>
                        <svg width="18px" height="18px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.15 28.012v-0.85c0.019-0.069 0.050-0.131 0.063-0.2 0.275-1.788 1.762-3.2 3.506-3.319 1.95-0.137 3.6 0.975 4.137 2.787 0.069 0.238 0.119 0.488 0.181 0.731v0.85c-0.019 0.056-0.050 0.106-0.056 0.169-0.269 1.65-1.456 2.906-3.081 3.262-0.125 0.025-0.25 0.063-0.375 0.094h-0.85c-0.056-0.019-0.113-0.050-0.169-0.056-1.625-0.262-2.862-1.419-3.237-3.025-0.037-0.156-0.081-0.3-0.119-0.444zM20.038 3.988l-0 0.85c-0.019 0.069-0.050 0.131-0.056 0.2-0.281 1.8-1.775 3.206-3.538 3.319-1.944 0.125-3.588-1-4.119-2.819-0.069-0.231-0.119-0.469-0.175-0.7v-0.85c0.019-0.056 0.050-0.106 0.063-0.162 0.3-1.625 1.244-2.688 2.819-3.194 0.206-0.069 0.425-0.106 0.637-0.162h0.85c0.056 0.019 0.113 0.050 0.169 0.056 1.631 0.269 2.863 1.419 3.238 3.025 0.038 0.15 0.075 0.294 0.113 0.437zM20.037 15.575v0.85c-0.019 0.069-0.050 0.131-0.063 0.2-0.281 1.794-1.831 3.238-3.581 3.313-1.969 0.087-3.637-1.1-4.106-2.931-0.050-0.194-0.094-0.387-0.137-0.581v-0.85c0.019-0.069 0.050-0.131 0.063-0.2 0.275-1.794 1.831-3.238 3.581-3.319 1.969-0.094 3.637 1.1 4.106 2.931 0.050 0.2 0.094 0.394 0.137 0.588z"
                                fill="#000" />
                        </svg>
                    </div>
                </button>
                <nav class="content" hidden>
                    <% if(user) { %>
                        <button>
                            <div>
                                <svg width="24px" height="24px" viewBox="0 0 25 25" id="clock" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m 12.499995,5.9592998 v 6.5406942 l 4.360463,4.360463 m 7.26744,-4.360463 c 0,6.421946 -5.205958,11.627902 -11.627903,11.627902 -6.421916,0 -11.62790196,-5.205956 -11.62790196,-11.627902 0,-6.4219153 5.20598596,-11.62790096 11.62790196,-11.62790096 6.421945,0 11.627903,5.20598566 11.627903,11.62790096 z"
                                        stroke="#121923" stroke-width="1.7442"></path>
                                </svg>
                            </div>
                            <div>Watch later</div>
                        </button>
                    <% } %>
                    <button>
                        <div>
                            <svg
                                height="24"
                                width="24"
                                viewBox="-120 -100 21 21"
                                xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M -99,-90.094304 -108.77636,-100 v 6.489402 c -2.92893,0.155594 -5.66077,1.385427 -7.75023,3.502528 -2.23987,2.269453 -3.47341,5.286872 -3.47341,8.496456 V -79 l 1.19228,-2.201963 c 1.86023,-3.435661 5.42116,-5.569926 9.29304,-5.569926 0.24552,0 0.49235,0.0088 0.73832,0.02627 v 6.557017 z m -10.51468,2.034941 c -3.46759,0 -6.71266,1.529011 -8.93891,4.109486 1.09241,-4.744995 5.30152,-8.290161 10.31252,-8.290161 h 0.63529 v -4.651905 l 6.70884,6.797598 -6.70884,6.797597 v -4.601992 l -0.5572,-0.06994 c -0.47943,-0.06013 -0.96784,-0.09068 -1.4517,-0.09068 z"
                                        style="stroke-width:0.041286" />
                            </svg>
                        </div>
                        <div>Share</div>
                    </button>
                    <button>
                        <div>
                            <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m 12.666918,0 v 16.392001 l 3.530664,-3.529334 0.943022,0.942667 -5.13927,5.138666 -5.1406042,-5.138666 0.9430221,-0.942667 3.5293301,3.526667 V 0 Z M 3.330066,24 H 20.669934 V 22.666667 H 3.330066 Z"
                                    stroke-width="1.33358"></path>
                            </svg>
                        </div>
                        <div>Download</div>
                    </button>
                    <% if(user) { %>
                        <button class="not-interest-btn">
                            <div>
                                <svg fill="none" width="24px" height="24px" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M 4.2451699,19.749883 19.771394,4.2276749 M 12.008283,0.63106589 A 11.360652,11.357713 0 1 0 23.368934,11.988779 11.360652,11.357713 0 0 0 12.008283,0.63106589 Z"
                                        style="fill:none;stroke:#000000;stroke-width:1.26214;stroke-linecap:round;stroke-linejoin:round" />
                                </svg>
                            </div>
                            <div>Not interest</div>
                        </button>
                    <% } %>
                    <% if(user) { %>
                        <button>
                            <div>
                                <svg fill="#000000" width="24px" height="24px" viewBox="-2 0 19 19"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M 17,1.8640303 V 14.10472 a 1.6172688,1.8707597 0 0 1 -1.611451,1.864029 H 9.3179728 l -1.483466,2.750624 a 0.39704531,0.45927822 0 0 1 -0.7315523,0 L 5.6194886,15.968749 H -0.38709434 A 1.6172688,1.8707597 0 0 1 -2,14.10472 V 1.8640303 A 1.6172688,1.8707597 0 0 1 -0.38854871,0 H 15.388549 A 1.6172688,1.8707597 0 0 1 17,1.8640303 Z M 8.526791,12.048903 A 1.0267912,1.1877305 0 1 0 7.4999999,13.234951 1.0267912,1.1877305 0 0 0 8.526791,12.048903 Z M 6.6942742,8.970225 a 0.80572565,0.93201513 0 1 0 1.6114512,0 V 3.5278623 a 0.80572565,0.93201513 0 1 0 -1.6114512,0 z" />
                                </svg>
                            </div>
                            <div>Complain</div>
                        </button>
                    <% } %>
                </nav>
            </div>
        </div>
    </div>
    <% }); %>
