
<%- include('./partials/header') %>

<main>
    <div class="guide-spacer" hidden></div>
    <div class="wrapper">
        <div class="header">

        </div>
        <div class="channel-metadata-wrapper">
            <div class="metadata-row">
                <img class="avatar" src="/api/avatar/<%= userChannel._id %>" alt="" width="180px">
                <div class="meta">
                    <div class="top">
                        <h1 class="name"><%= userChannel.login %></h1>
                        <span>
                            <h1>Followers:</h1>
                            <h1 class="followers-number"><%= followersCount %></h1>
                            <h1>users</h1>
                            <h1>•</h1>
                            <h1 class="videos-number"><%= videos.length %></h1>
                            <h1>videos</h1>
                        </span>
                        <div class="about"><%= userChannel.about %></div>
                    </div>
                    <% if(user) { %>
                        <button id="subscribe-btn" <%= user?._id.toString() === userChannel._id.toString() ? 'hidden' : '' %>  <%= isFollowing ? 'subscribed' : '' %>  data-channellogin="<%= userChannel.login %>"><%= isFollowing ? 'Subscribed' : 'Subscribe' %></button>
                        <a href="/studio" id="manage-video-btn" <%= user?._id.toString() !== userChannel._id.toString() ? 'hidden' : '' %>>Manage video</a>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="content-top-row" data-sort="newer">
            <button id="newer-videos-btn" sort="newer" active>Newer</button>
            <button id="popular-videos-btn" sort="popular" >Popular</button>
        </div>
        <div id="content"></div>
    </div>
</main>

<%- include('./partials/footer') %>