<main>
    <div class="top">
        <div class="avatar">
            <img src="/img/user.svg" alt="" width="80px">
        </div>
        <h1 class="login"><%= user.login %></h1>
    </div>
    <h1 class="history">History</h1>
    <div class="history-row">
        <div class="history-container">
            <div class="no-videos" hidden>Your history is empty</div>
            <% historyVideos.forEach(history => { %>
                <% const video = history.video; %>

                <div class="history-video">
                    <a href="/watch?v=<%= video._id %>" class="video-info">
                        <div class="preview">
                            <img src="/api/preview/<%= video._id %>" alt="" width="auto">
                            <div class="video-duration"><%= formatTime(video.duration) %></div>
                        </div>
                        <div class="metadata">
                            <h1 class="video-title"><%= video.title %></h1>
                            <h1 class="login"><%= video.user.login %></h1>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
    <div class="buttons-container">
        <button>
            <div>
                <svg width="36px" height="36px" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill="#000000" transform="translate(42.666667, 106.666667)">
                            <path
                                d="M426.666667,4.26325641e-14 L426.666667,298.666667 L3.55271368e-14,298.666667 L3.55271368e-14,4.26325641e-14 L426.666667,4.26325641e-14 Z M85.3333333,234.666667 L42.6666667,234.666667 L42.6666667,256 L85.3333333,256 L85.3333333,234.666667 Z M384,234.666667 L341.333333,234.666667 L341.333333,256 L384,256 L384,234.666667 Z M170.666667,96 L170.666667,202.666667 L266.666667,149.333333 L170.666667,96 Z M85.3333333,170.666667 L42.6666667,170.666667 L42.6666667,192 L85.3333333,192 L85.3333333,170.666667 Z M384,170.666667 L341.333333,170.666667 L341.333333,192 L384,192 L384,170.666667 Z M85.3333333,106.666667 L42.6666667,106.666667 L42.6666667,128 L85.3333333,128 L85.3333333,106.666667 Z M384,106.666667 L341.333333,106.666667 L341.333333,128 L384,128 L384,106.666667 Z M85.3333333,42.6666667 L42.6666667,42.6666667 L42.6666667,64 L85.3333333,64 L85.3333333,42.6666667 Z M384,42.6666667 L341.333333,42.6666667 L341.333333,64 L384,64 L384,42.6666667 Z">
                            </path>
                        </g>
                    </g>
                </svg>
            </div>
            <h1>Your videos</h1>
        </button>
        <button>
            <div>
                <svg width="36px" height="36px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                       d="m 12.666918,0 v 16.392001 l 3.530664,-3.529334 0.943022,0.942667 -5.13927,5.138666 -5.1406042,-5.138666 0.9430221,-0.942667 3.5293301,3.526667 V 0 Z M 3.330066,24 H 20.669934 V 22.666667 H 3.330066 Z"
                       stroke-width="1.33358" />
                  </svg>                  
            </div>
            <h1>Downloads</h1>
        </button>
    </div>
</main>