
<%- include('./partials/studioHeader') %>

<main>
    <div class="top">
        <div class="img-wrapper">
            <button id="upload-avatar-btn">
                <img src="/api/avatar/<%= user._id %>" alt="" width="60px">
                <div class="modal"></div>
                <input type="file" accept="image/png" id="upload-avatar-input" hidden>
            </button>
            <h1><%= user.login %></h1>
        </div>
        <div class="content-top">
            <h1>Channel content</h1>
            <div id="filters" data-filter="createdAt" data-sort="down">
                <% createFilterBtn('createdAt'); createFilterBtn('views'); createFilterBtn('comments');
                    createFilterBtn('likes'); createFilterBtn('dislikes'); %>
            </div>
        </div>
    </div>
    <div class="bottom">
        <nav>

        </nav>
        <div id="video-content">
            <div id="no-video" <%= videoCount > 0 ? 'hidden' : '' %>>
                <h1>You haven't videos</h1>
                <button id="content-upload-video-btn">Upload</button>
            </div>
        </div>

        
        <div id="upload-video-modal" hidden>
            <div class="panel-modal">
                <div class="header">
                    <h1>Upload the video</h1>
                    <button id="cancel-upload-video-btn">
                        <svg fill="#000000" width="24px" height="24px" viewBox="0 0 16 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z"
                                fill-rule="evenodd" />
                        </svg>
                    </button>
                </div>
                <div class="v-line"></div>
                <div class="content-wrapper">
                    <div id="drop-zone">
                        <h1>Drag and drop the video file you want to upload here</h1>
                        <button id="choose-file-btn">Choose file</button>
                        <input type="file" id="video-file-input" accept="video/*" hidden />
                    </div>
                    <div id="upload-information" hidden>
                        <div class="information">
                            <div class="meta-block">
                                <h1>Name</h1>
                                <textarea name="video title" id="video-title-textarea"></textarea>
                                <h1>Description</h1>
                                <textarea name="video description"
                                    id="video-description-textarea"></textarea>
                            </div>
                            <div class="preview-meta-block">
                                <h2>Preview</h2>
                                <div class="meta-preview-row">
                                    <button id="upload-preview-btn" class="meta-preview-wrapper-btn">
                                        <svg width="24px" height="24px" viewBox="0 0 24 24"
                                            preserveAspectRatio="xMidYMid meet" focusable="false"
                                            class="style-scope tp-yt-iron-icon"
                                            style="pointer-events: none;">
                                            <path
                                                d="M14,13.6l2.8,3.4h-5.4l0.3-0.4L14,13.6 M8.9,14.7l1.2,1.9l0.3,0.4H7.1L8.9,14.7 M14,12l-3,4l-2-3l-4,5h14L14,12L14,12z
                                            M21,7h-2v2h-2V7h-2V5h2V3h2v2h2V7z M13,4v6v1h1h6v9H4V4H13 M14,3H3v18h18V10h-7V3L14,3z"
                                                class="style-scope tp-yt-iron-icon"></path>
                                        </svg>
                                        <h1>Upload preview</h1>
                                        <input type="file" id="preview-file-input" accept="image/png"
                                            hidden />
                                    </button>
                                    <button id="create-preview-btn" class="meta-preview-wrapper-btn">
                                        <svg width="24px" height="24px" viewBox="0 0 24 24">
                                            <path
                                                d="M9.91,8.7l0.6,2.12l0.15,0.54l0.54,0.15l2.12,0.6l-2.12,0.6l-0.54,0.15l-0.15,0.54l-0.6,2.12l-0.6-2.12l-0.15-0.54 L8.62,12.7l-2.12-0.6l2.12-0.6l0.54-0.15l0.15-0.54L9.91,8.7 M9.91,5.01l-1.56,5.53L2.83,12.1l5.53,1.56l1.56,5.53l1.56-5.53 L17,12.1l-5.53-1.56L9.91,5.01L9.91,5.01z M16.72,16.81l-2.76,0.78l2.76,0.78l0.78,2.76l0.78-2.76l2.76-0.78l-2.76-0.78l-0.78-2.76 L16.72,16.81z M17.5,2.96l-0.78,2.76L13.96,6.5l2.76,0.78l0.78,2.76l0.78-2.76l2.76-0.78l-2.76-0.78L17.5,2.96z"
                                                class="style-scope tp-yt-iron-icon"></path>
                                        </svg>
                                        <h1>Create automatically</h1>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="video-data">
                            <h1>Uploaded video</h1>
                            <video id="uploaded-video" controls class="video-preview"></video>
                            <h2>Preview</h2>
                            <div class="video-preview">
                                <img id="video-preview" width="auto"></img>
                            </div>
                            <div class="upload-video-btn-wrapper">
                                <svg hidden class="loading-spinner spinner" fill="#000000" width="30px" height="30px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M512 1024c-69.1 0-136.2-13.5-199.3-40.2C251.7 958 197 921 150 874c-47-47-84-101.7-109.8-162.7C13.5 648.2 0 581.1 0 512c0-19.9 16.1-36 36-36s36 16.1 36 36c0 59.4 11.6 117 34.6 171.3 22.2 52.4 53.9 99.5 94.3 139.9 40.4 40.4 87.5 72.2 139.9 94.3C395 940.4 452.6 952 512 952c59.4 0 117-11.6 171.3-34.6 52.4-22.2 99.5-53.9 139.9-94.3 40.4-40.4 72.2-87.5 94.3-139.9C940.4 629 952 571.4 952 512c0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 0 0-94.3-139.9 437.71 437.71 0 0 0-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.2C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3s-13.5 136.2-40.2 199.3C958 772.3 921 827 874 874c-47 47-101.8 83.9-162.7 109.7-63.1 26.8-130.2 40.3-199.3 40.3z"/>
                                </svg>
                                <button id="upload-video-btn">Upload video</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="change-description-modal" hidden>
            <div class="panel-modal">
                <h1>Change description</h1>
                <textarea name="Change description" id="change-description-textarea" maxlength="2600"></textarea>

                <div class="choice">
                    <button id="change-description-btn">Change</button>
                    <button id="cancel-change-description-btn">Cancel</button>
                </div>
            </div>
        </div>

        <div id="confirm-delete-modal" hidden>
            <div class="panel-modal">
                <h1>Are you sure you want to delete the video?</h1>
                <h1 id="delete-video-title"></h1>
                <div class="choice">
                    <button id="confirm-delete-video-btn">Yes</button>
                    <button id="cancel-deletion-btn">No</button>
                </div>
            </div>
        </div>
    </div>
</main>

<% function createFilterBtn(name) { %> 
    <button data-btnfilter="<%= name %>" class="<%= filter === name ? 'active' : '' %>">
        <h2>
            <%= (name === 'createdAt' ? 'Date' : name.charAt(0).toUpperCase() + name.slice(1)) %>
        </h2>
        <% if(filter === name) { %>
            <%= getFilterIcon() %>
        <% } %>
    </button>
<% } %>

<% function getFilterIcon() { %>
    <div id="filter-icon">
        <% if(sort === "down") { %>
            <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="m 12.666918,2.528 v 16.392001 l 3.530664,-3.529334 0.943022,0.942667 -5.13927,5.138666 -5.1406042,-5.138666 0.9430221,-0.942667 3.5293301,3.526667 V 2.528 Z"
                    stroke-width="1.33358" />
            </svg>
        <% } else { %>
            <svg width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M 11.334416,21.472 V 5.079999 L 7.8037518,8.609333 6.8607298,7.666666 12,2.528 17.140604,7.666666 16.197582,8.609333 12.668252,5.082666 V 21.472 Z"
                    stroke-width="1.33358" />
            </svg>
        <% } %>
    </div>
<% } %>