<main>
    <%- include('partials/guide.ejs') %>
        <%- include('partials/videoPlayer.ejs') %>
            <div class="bottom">
                <div class="video-content">
                    <div class="video-data">
                        <h4 class="title"><%= video.title %></h4>
                        <div class="top-row">
                            <div class="owner">
                                <a href="/channel" class="avatar-link">
                                    <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="12" cy="6" r="4" stroke="#000000" stroke-width="1.5" />
                                        <path opacity="0.5"
                                            d="M20 17.5C20 19.9853 20 22 12 22C4 22 4 19.9853 4 17.5C4 15.0147 7.58172 13 12 13C16.4183 13 20 15.0147 20 17.5Z"
                                            stroke="#000000" stroke-width="1.5" />
                                    </svg>
                                </a>
                                <a href="/channel/<%= userChannel.login %>" class="channel-info">
                                    <h4 class="channel-name"><%= userChannel.login %></h4>
                                    <h5 class="followers-number"><%= followersCount %> followers</h5>
                                </a>
                                <button id="subscribe-btn" class="subscribe-btn">Subscribe</button>
                            </div>
                            <div class="actions">
                                <div class="action like-dislike-wrapper">
                                    <a href="/video/reaction/1" method="PUT" class="like icon-btn">
                                        <svg width="26px" height="26px" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.66003 10.1022L11.76 4.00221C12.16 3.40221 13.16 3.00221 13.96 3.30221C14.86 3.60221 15.46 4.60221 15.26 5.50221L14.76 8.70221C14.66 9.40221 15.16 9.90221 15.76 9.90221H19.76C21.26 9.90221 22.1801 11.0522 21.66 12.5022C21.14 13.9522 20.6801 16.5522 19.26 18.8022C18.6102 19.8318 17.8975 20.5522 16.6801 20.5522C12.6801 20.5522 6.66003 20.5522 6.66003 20.5522"
                                                stroke="#000" stroke-width="1.5" stroke-miterlimit="10" />
                                            <path
                                                d="M2.18005 10.5522C2.18005 9.99996 2.62777 9.55225 3.18005 9.55225H6.68005C7.23234 9.55225 7.68005 9.99996 7.68005 10.5522V20.5522H3.18005C2.62777 20.5522 2.18005 20.1045 2.18005 19.5522V10.5522Z"
                                                stroke="#000" stroke-width="1.5" />
                                        </svg>
                                    </a>
                                    <h4>0</h4>
                                    <div class="v-line"></div>
                                    <a href="/video/reaction/-1" method="PUT" class="dislike icon-btn">
                                        <svg width="26px" height="26px" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path id="vector"
                                                d="M16.34 13.8978L12.24 19.9978C11.84 20.5978 10.84 20.9978 10.04 20.6978C9.14 20.3978 8.54 19.3978 8.74 18.4978L9.24 15.2978C9.34 14.5978 8.84 14.0978 8.24 14.0978H4.24C2.74 14.0978 1.8199 12.9478 2.34 11.4978C2.86 10.0478 3.3199 7.44784 4.74 5.19784C5.3898 4.16823 6.1025 3.44784 7.31986 3.44784C11.3199 3.44784 17.34 3.44784 17.34 3.44784"
                                                stroke="#000000" stroke-width="1.5" stroke-miterlimit="10" />
                                            <path id="rec"
                                                d="M21.82 13.4478C21.82 14 21.3722 14.4478 20.82 14.4478H17.32C16.7677 14.4478 16.32 14 16.32 13.4478V3.44784H20.82C21.3722 3.44784 21.82 3.89555 21.82 4.44784V13.4478Z"
                                                stroke="#000000" stroke-width="1.5" />
                                        </svg>
                                    </a>
                                    <h4>0</h4>
                                </div>
                                <button id="share-video" class="action">
                                    <div>
                                        <svg fill="#000000" height="30px" width="30px" version="1.1"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="-120 -100 700 700"
                                            xml:space="preserve">
                                            <path d="M512,241.7L273.643,3.343v156.152c-71.41,3.744-138.015,33.337-188.958,84.28C30.075,298.384,0,370.991,0,448.222v60.436
			l29.069-52.985c45.354-82.671,132.173-134.027,226.573-134.027c5.986,0,12.004,0.212,18.001,0.632v157.779L512,241.7z
			 M255.642,290.666c-84.543,0-163.661,36.792-217.939,98.885c26.634-114.177,129.256-199.483,251.429-199.483h15.489V78.131
			l163.568,163.568L304.621,405.267V294.531l-13.585-1.683C279.347,291.401,267.439,290.666,255.642,290.666z" />
                                        </svg>
                                    </div>
                                    <h4>Share</h4>
                                </button>
                                <div class="dropdown">
                                    <button class="action round-icon">
                                        <svg width="20px" height="20px" viewBox="0 -960 960 960"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M 99.047357,-340 Q 58.190323,-340 29.103415,-369.38333 0,-398.75 0,-439.99999 0,-481.25 29.103415,-510.61667 58.190323,-540 99.047357,-540 q 40.857033,0 69.960443,29.38333 29.08691,29.36667 29.08691,70.61668 0,41.24999 -29.08691,70.61666 Q 139.90439,-340 99.047357,-340 Z M 480,-340 q -40.85703,0 -69.94394,-29.38333 -29.10342,-29.36667 -29.10342,-70.61666 0,-41.25001 29.10342,-70.61668 Q 439.14297,-540 480,-540 q 40.85703,0 69.94394,29.38333 29.10342,29.36667 29.10342,70.61668 0,41.24999 -29.10342,70.61666 Q 520.85703,-340 480,-340 Z m 380.95265,0 q -40.85704,0 -69.96045,-29.38333 -29.08691,-29.36667 -29.08691,-70.61666 0,-41.25001 29.08691,-70.61668 Q 820.09561,-540 860.95265,-540 q 40.85703,0 69.94394,29.38333 Q 960,-481.25 960,-439.99999 960,-398.75 930.89659,-369.38333 901.80968,-340 860.95265,-340 Z"
                                                fill="#000" />
                                        </svg>
                                    </button>
                                    <nav class="content" hidden>
                                        <a href="/video/download/<%= video._id %>" download="sample-video.mp4" id="download">
                                            <div>
                                                <svg width="24px" height="24px" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="m 12.666918,0 v 16.392001 l 3.530664,-3.529334 0.943022,0.942667 -5.13927,5.138666 -5.1406042,-5.138666 0.9430221,-0.942667 3.5293301,3.526667 V 0 Z M 3.330066,24 H 20.669934 V 22.666667 H 3.330066 Z"
                                                        stroke-width="1.33358" />
                                                </svg>
                                            </div>
                                            <h1>Download</h1>
                                        </a>
                                        <button>
                                            <div>
                                                <svg width="24px" height="24px" viewBox="0 0 25 25" id='clock'
                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="m 12.499995,5.9592998 v 6.5406942 l 4.360463,4.360463 m 7.26744,-4.360463 c 0,6.421946 -5.205958,11.627902 -11.627903,11.627902 -6.421916,0 -11.62790196,-5.205956 -11.62790196,-11.627902 0,-6.4219153 5.20598596,-11.62790096 11.62790196,-11.62790096 6.421945,0 11.627903,5.20598566 11.627903,11.62790096 z"
                                                        stroke="#121923" stroke-width="1.7442" />
                                                </svg>
                                            </div>
                                            <h1>Watch later</h1>
                                        </button>
                                        <button>
                                            <div>
                                                <svg fill="#000000" width="24px" height="24px" viewBox="-2 0 19 19"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M 17,1.8640303 V 14.10472 a 1.6172688,1.8707597 0 0 1 -1.611451,1.864029 H 9.3179728 l -1.483466,2.750624 a 0.39704531,0.45927822 0 0 1 -0.7315523,0 L 5.6194886,15.968749 H -0.38709434 A 1.6172688,1.8707597 0 0 1 -2,14.10472 V 1.8640303 A 1.6172688,1.8707597 0 0 1 -0.38854871,0 H 15.388549 A 1.6172688,1.8707597 0 0 1 17,1.8640303 Z M 8.526791,12.048903 A 1.0267912,1.1877305 0 1 0 7.4999999,13.234951 1.0267912,1.1877305 0 0 0 8.526791,12.048903 Z M 6.6942742,8.970225 a 0.80572565,0.93201513 0 1 0 1.6114512,0 V 3.5278623 a 0.80572565,0.93201513 0 1 0 -1.6114512,0 z" />
                                                </svg>
                                            </div>
                                            <h1>Complain</h1>
                                        </button>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="about">
                            <div class="watch-info">
                                <h5>Views</h5>
                                <h5>Date</h5>
                            </div>
                            <div class="description-text"><%= video.description %></div>
                        </div>
                    </div>
                    <div class="comments-white-box">
                        <div class="comments-top-row">
                            <h4 class="comments-number">Comments</h4>
                            <div class="dropdown">
                                <button class="toggle-sorting">
                                    <div>
                                        <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0" />
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <g id="SVGRepo_iconCarrier">
                                                <path d="M8 8H20M11 12H20M14 16H20M4 8H4.01M7 12H7.01M10 16H10.01"
                                                    stroke="#000000" stroke-width="1.2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="text">Sorting</div>
                                </button>
                                <nav class="content" hidden>
                                    <button>Better</button>
                                    <button>Newer</button>
                                </nav>
                            </div>
                        </div>
                        <div class="comments-middle-row">
                            <a href="#" class="avatar-link">
                                <svg width="34px" height="34px" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12" cy="6" r="4" stroke="#000000" stroke-width="1.5" />
                                    <path opacity="0.5"
                                        d="M20 17.5C20 19.9853 20 22 12 22C4 22 4 19.9853 4 17.5C4 15.0147 7.58172 13 12 13C16.4183 13 20 15.0147 20 17.5Z"
                                        stroke="#000000" stroke-width="1.5" />
                                </svg>
                            </a>
                            <div class="add-comment-wrapper">
                                <textarea name="Add comment" class="input-comment-textarea textarea-autosize" maxlength="2600"></textarea>
                                <button class="add-comment-btn">Comment</button>
                            </div>
                        </div>
                        <div class="comments-bottom">
                            <% for (let i=0; i < 5; i++) { %>
                                <div class="comment">
                                    <%- include('partials/comment.ejs') %>
                                    <button class="show-answers">Answers</button>
                                    <div class="answers-wrapper" hidden>
                                        <% for (let i=0; i < 5; i++) { %>
                                            <%- include('partials/comment.ejs') %>
                                        <% } %>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
                <div id="video-recommendations"></div>
            </div>
</main>
</body>

</html>